@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script|Gloria+Hallelujah|Indie+Flower|Lobster|Shadows+Into+Light');
.slider {
  max-width: 100%;
  height: 90%;
  width:100%;
  margin: auto;
  position: relative;
}

.slide1,.slide2,.slide3,.slide4,.slide5 h1 {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Gugi', cursive;
  box-shadow: 30px;
}

.slide1 {
  background: url(https://www.saleduck.com.ph/files/large/ab2e42b0f331808885aac60ce6fc44c3.jpg)no-repeat center;
  background-size: cover;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;


}
.slide2 {
  background: url(https://assets3.thrillist.com/v1/image/2712375/size/tmg-gift_guide_default.jpg)no-repeat center;
  background-size: cover;
  animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}

.slide3 {
  background: url(https://assets3.thrillist.com/v1/image/2712362/size/tl-full_width.jpg)no-repeat center;
  background-size: cover;
  animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}

@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}

@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

.contain{
  max-width: 500px;
  margin:0 auto;
  text-align: center;
}

.contain h1{
  margin-top: 120px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #4b4b4b;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
  border-top: 100%;
  border-radius: 10px;
  /*border: 3px solid;*/
  float: center;
  background-color: white;
  opacity: 0.7;
  text-shadow: 2px 2px #ff0000;
}

.align-text{
  text-align: center;
  /* border-bottom: 2px solid; */
  margin-bottom: 5px;
  border-color: #4b4b4b;
  font-family: 'Gloria Hallelujah', cursive;
}

.align-text p{
  margin-top: 10px;
}

.heading {
  margin-top:40px;
  font-size:6rem;
  color: white;
  word-wrap:break-word;
  font-family: 'Amatic SC', cursive;
}

/*font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Amatic SC', cursive;*/